// Fonts
$default-font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
$default-font-size: 12px;

// Global colors
$base-color: #d1d5d8;
$default-background-color: $base-color;

$default-breakpoints: (
'sm': 320px,
'md': 768px,
'lg': 1024px
) !default;