/**
 * Rem size multiplier
 */
@function rem($multiplier) {
    $font-size: 10px;
    @return $multiplier * $font-size;
}

@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}