@mixin flex-grid($numColumns,$gutterSize) {
    .flex-grid {
        display: flex;
        flex-direction: row;

        & > .flex-item {
            margin-right: $gutterSize;
        }

        & > .flex-item:last-of-type {
            margin-right: 0px;
        }

        @for $i from 1 through $numColumns {
            & > .flex-#{$i}-#{$numColumns} {
                flex: $i;
            }
        }
    }
}

/**
 * Mixin for creating typogrphy display rules
 */
@mixin typography-style($font-size,$font-weight,$letter-spacing,$line-height:null) {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}
