@mixin theme(
$theme-name,
$background-color: $global-background-color
) {

    body {
        background-color: $background-color;
    }

    html, body {
        font-family: $m-font-family;
        @include typo-style($m-body-font-size, 400, -0.010em,rem(2));
        width: 100%;
        height: 100%;
    }

    .#{$theme-name} {
        @include typography();
        @include elevate();

        @include init-grid($layout-max-columns);

        // Small
        @media (max-width: $layout-medium-width - 1) {
            @include create-grid('sm'
            ,$layout-small-columns
            ,$layout-small-gutter
            ,$layout-small-margin
            ,$layout-max-columns)
        }

        // Medium
        @media (min-width: $layout-medium-width) and (max-width: $layout-large-width - 1) {
            @include create-grid('md'
            ,$layout-medium-columns
            ,$layout-medium-gutter
            ,$layout-medium-margin
            ,$layout-max-columns)
        }

        // Large
        @media (min-width: $layout-large-width) {
            @include create-grid('lg'
            ,$layout-large-columns
            ,$layout-large-gutter
            ,$layout-large-margin
            ,$layout-max-columns)
        }

        @include blend-application-application();

        // common structure for all button;
        @include blend-button-struct();

        // flat button
        @include blend-button-flat();
        // raised button
        @include blend-button-raised();
        // FAB button
        @include blend-button-fab();

        // flat default button
        @include blend-button-theme(
        $name: 'default',
            $button-types: $flat-buttons,
            $button-text-color: $default-flat-button-text-color,
            $button-icon-color: $default-flat-button-icon-color,
            $button-background-color: transparent,
            $button-hover-background-color: $default-flat-button-hover-background-color
            );

        // raised default button
        @include blend-button-theme(
        $name: 'default',
            $button-types: $raised-buttons,
            $button-text-color: $default-flat-button-text-color,
            $button-icon-color: $default-flat-button-icon-color,
            $button-background-color: transparent,
            $button-hover-background-color: false
            );

        // flat default button
        @include blend-button-theme(
        $name: 'primary',
            $button-types: $flat-buttons,
            $button-text-color: $color-indigo-c500,
            $button-icon-color: $color-indigo-c500,
            $button-background-color: transparent,
            $button-hover-background-color: $default-flat-button-hover-background-color
            );

        @include blend-button-theme(
        $name: 'primary',
            $button-types: $all-raised-buttons,
            $button-text-color: $color-blackandwhite-cwhite,
            $button-icon-color: $color-blackandwhite-cwhite,
            $button-background-color: $color-indigo-c500,
            $button-hover-background-color: false
            );

        @include blend-button-theme(
        $name: 'danger',
            $button-types: $all-raised-buttons,
            $button-text-color: $color-blackandwhite-cwhite,
            $button-icon-color: $color-blackandwhite-cwhite,
            $button-background-color: $color-pink-c400,
            $button-hover-background-color: false
            );


    }
}