// Typography
$m-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

$m-display-4-font-size: rem(11.20) !default;
$m-display-3-font-size: rem(5.600) !default;
$m-display-2-font-size: rem(4.500) !default;
$m-display-1-font-size: rem(3.400) !default;

$m-headline-font-size: rem(2.400) !default;
$m-title-font-size: rem(2.000) !default;
$m-subhead-font-size: rem(1.600) !default;

$m-body-font-size: rem(1.400) !default;
$m-caption-font-size:   rem(1.300) !default;

//

$layout-desktop-columns: 12 !default;
$layout-desktop-gutter: 16px !default;
$layout-desktop-margin: 16px !default;
$layout-desktop-width: 840px !default;

$layout-tablet-columns: 8 !default;
$layout-tablet-gutter: $layout-desktop-gutter !default;
$layout-tablet-margin: $layout-desktop-margin !default;
$layout-tablet-width: 480px !default;

$layout-phone-columns: 4 !default;
$layout-phone-gutter: $layout-desktop-gutter !default;
$layout-phone-margin: $layout-desktop-margin !default;

$layout-cell-default-columns: $layout-phone-columns !default;
$layout-max-columns: $layout-desktop-columns !default;




