// Typography
$m-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

$m-display-4-font-size: rem(11.20) !default;
$m-display-3-font-size: rem(5.600) !default;
$m-display-2-font-size: rem(4.500) !default;
$m-display-1-font-size: rem(3.400) !default;

$m-headline-font-size: rem(2.400) !default;
$m-title-font-size: rem(2.000) !default;
$m-subhead-font-size: rem(1.600) !default;

$m-body-font-size: rem(1.400) !default;
$m-caption-font-size:   rem(1.300) !default;

// Breakpoints

$bp-small-screen: '(max-width: 480px)';
$bp-small-columns: 4;
$bp-small-gutter: 16px;

$bp-medium-screen: '(max-width: 720px)';
$bp-medium-columns: 8;
$bp-medium-gutter: 16px;

$bp-large-screen: '(min-width: 840px)';
$bp-large-columns: 12;
$bp-large-gutter: 24px;


