@mixin blend-material-splitter(
$splitter-color,
$splitter-active-color,
$splitter-handle-color
) {

    .mb-splitter {
        @include user-select(none);
        background-color: $splitter-color;
    }

     .mb-splitter-horizontal {
         cursor: row-resize;
     }

     .mb-splitter-vertical {
         cursor: col-resize;
     }

    .mb-split-ghost {

        position: absolute;
        z-index: 100000;
        background-color: $splitter-active-color;
        opacity: 0;
        transition: opacity 0.2s linear;

        display: flex;
        display: -webkit-flex;

        -webkit-justify-content: center;
        justify-content:         center;

        -webkit-align-items: center;
        align-items:         center;

         i {
             @include user-select(none);
             color: $splitter-handle-color;
         }
    }

    .mb-split-ghost-vertical {
        -webkit-flex-direction: column;
        flex-direction:         column;
        height:100%;
        text-align: center;
        i {
            margin-left: -1px;
        }
    }

    .mb-split-ghost-horizontal {
        -webkit-flex-direction: column;
        flex-direction:         column;
        width:100%;
        i {
            line-height: rem(1);
            height: rem(1);
        }
    }
}
