.split-cntr {

        overflow: hidden;

    & > .split-cntr-body {

        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;

        & > .split-cntr-item {
            position: absolute;
        }

    }

    & > .split-cntr-body-horizontal {

        & > .split-cntr-item {
            width: 100% !important;
        }
    }

    & > .split-cntr-body-vertical {

        & > .split-cntr-item {
            height: 100% !important;
        }
    }
}