$struct-splitter-size: rem(1); // not in the specs!!

@mixin blend-material-splitter(
$splitter-color,
$splitter-hover-color,
$splitter-active-color,
$splitter-handle-color,
$splitter-size : $struct-splitter-size
) {
    .mb-splitter {
        background-color: $splitter-color;

        transition: width 0.3s, height 0.3s;

        display: flex;
        display: -webkit-flex;

        -webkit-justify-content: center;
        justify-content:         center;

        -webkit-align-items: center;
        align-items:         center;

        @include user-select(none);

        i {
            @include user-select(none);
            color: $splitter-handle-color;
            &:hover {
                color: $splitter-color;
            }
        }
    }

    .mb-splitter-ghost {
        @include opacity(0.95);
        z-index: 100000;
        position: absolute;
    }

    .mb-splitter-hover {
        background-color: $splitter-hover-color;
        cursor: pointer;
    }

    .mb-splitter-active {
        background-color: $splitter-active-color;
    }

    .mb-splitter-horizontal-cursor {
        cursor: col-resize;
    }

    .mb-splitter-vertical-cursor {
        cursor: row-resize;
    }

    .mb-splitter-vertical {
        height: 100%;
        //xwidth: $splitter-size;
        -webkit-flex-direction: column;
        flex-direction:         column;
        text-align: center;
        i {
            margin-left: -1px;
        }
    }

    .mb-splitter-horizontal {
        width: 100%;
        xheight: $splitter-size;
        -webkit-flex-direction: column;
        flex-direction:         column;
        i {
            line-height: $splitter-size;
            height: $splitter-size;
        }
    }
}