html, body {
    width:100%;
    height:100%;
}

html, * , *:before, *:after{
    @include box-sizing(border-box);
}

body {
    position: absolute;
    top:0px;
    left:0px;
    overflow: hidden;
}

#noblend {
    background-color: red;
    color:white;
}

[data-selectable=off] {
    @include user-select(none);
}